
.headding{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    padding: 10px;
    background-color:#2D3047;
    color: #fff;
    line-height: normal;
}
body {
    background-color: #CAD5E2;
    margin: 0;
    font: 62.5%/1.3em Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
}

table tr {
    width: 100%;
}

table td {
    width: 2em;
    height: 2em;
    border: 1px solid #cdcdcd;
    padding: 0;
    margin: 0;
    background-color: #333;
    position: relative;
    
}

td input {
    width: 100%;
    height: 100%;
    line-height:8px;
    padding: 0em;
    border: none;
    text-align: center;
    font-size: 8px;
    color: #666;
    background-color: #fff;
}

td input:focus {
    background-color: #fff;
}

td span {
    color: #444;
    font-size: 0.8em;
    position: absolute;
    top: -1px;
    left: 1px;
}

input.done {
    font-weight: bold;
    color: green;
}

.active,
.clues-active {
    background-color: #ffef8e;
}

.clue-done {
    color: #999;
    text-decoration: line-through;
}

#puzzle-wrapper {
    display: flex;
    justify-content: center;
    
}

#puzzle-clues {
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#puzzle-clues li {
    font-size: 1.2em;
    margin: .3em;
    line-height: 1.6em;
}

